@using Bearlog.Web.Models
@using Bearlog.Web.Services
@model Bearlog.Web.Models.BookModel

<script>
    function btn_Click(s, e) {
        var Year = document.getElementById('Year').value;

        if ((Year < 0) || (Year > 2500))
            swal('Год введен неверно!');           
        else
            document.forms["AddForm"].submit();
    }
</script>

@using (Html.BeginForm("Add", "Book", FormMethod.Post, new {@id="AddForm", @class = "form-horizontal", role = "form" }))
{    
        
    <h4>Добавление книги</h4>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AuthorName, "Author name", new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control" })
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(m => m.AuthorOriginalName, "Author original name", new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.TextBoxFor(m => m.AuthorOriginalName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @type = "number" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FromLanguageId, "From language", new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.DropDownListFor(m => m.FromLanguageId, 
                new SelectList((List<Language>)ViewData["Languages"], "Id", "Name"), 
                "С какого языка")           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ToLanguageId, "To Language", new { @class = "col-lg-1 control-label" })
        <div class="col-lg-2">
            @Html.DropDownListFor(m => m.ToLanguageId, 
                new SelectList((List<Language>)ViewData["Languages"], "Id", "Name"), 
                "На какой язык")           
        </div>
    </div>
        
    <div class="form-group">
        <div class="col-lg-offset-1 col-lg-1">
            <input class="btn btn-default" value="Add book" onclick="btn_Click()" />
        </div>
    </div>


}