@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StridingSoft - Bring ideas to light</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/img/idea-vector-6.png" rel="icon">
    <link href="~/Content/img/idea-vector-6.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">

<!--==========================
Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1>
                <a href="#body" class="scrollto">Striding<span>Soft</span></a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li>
                    <a href="#about">О нас</a>
                </li>
                <li>
                    <a href="#services">Проекты</a>
                </li>
                <li>
                    <a href="#team">Участники</a>
                </li>
                <li>
                    <a href="#contact">Контакты</a>
                </li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
<!--==========================
Intro Section
============================-->
<section id="intro">

    <div class="intro-content">
        <h2>Выводить <span>идеи</span><br>в свет</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">Концепция</a>
            <a href="#services" class="btn-projects scrollto">Проекты</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url(@Url.Content("~/Content/img/intro-carousel/1.jpg"));"></div>
        <div class="item" style="background-image: url(@Url.Content("~/Content/img/intro-carousel/2.jpg"));"></div>
        <div class="item" style="background-image: url(@Url.Content("~/Content/img/intro-carousel/3.jpg"));"></div>
        <div class="item" style="background-image: url(@Url.Content("~/Content/img/intro-carousel/4.jpg"));"></div>
        <div class="item" style="background-image: url(@Url.Content("~/Content/img/intro-carousel/5.jpg"));"></div>
    </div>

</section>
<!-- #intro -->

<main id="main">

    <!--==========================
    About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 about-img">
                    <img src="~/Content/img/idea-vector-6.png" alt="">
                </div>

                <div class="col-lg-8 content">
                    <h2>Сколько идей умирает, так и не выйдя на свет</h2>
                    <h3>
                        Многие начинают свой путь в IT, вдохновленные множествами идей, переполняющими разум.
                        Но, увы, так мало этих идей довелось воплотить в жизнь из-за недостатка опыта, отсутствия помощи
                        или единомышленников
                    </h3>

                    <div>
                        <b>StridingSoft</b> - проект по наставничеству начинающих разработчиков
                        для их профессионального роста путем реализации различных проектов.
                        <br /><br />
                        Цели данного проекта:
                    </div>
                    <ul>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Найти начинающих, но амбициозных разработчиков, которые хотят развиваться и
                            создавать полноценные проекты с нуля и до релиза
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            При необходимости объединить нескольких разработчиков в команду
                            для работы над одним крупным проектом
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Помочь им в правильной постановке задач на основе имеющейся идеи
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Научить правильному проектированию своего приложения/сайта/программы
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Проводить код-ревью с целью выработки хороших практик написания кода
                        </li>
                        <li>
                            <i class="ion-android-checkmark-circle"></i>
                            Помочь в продвижении реализованного проекта, чтобы тот увидел свет
                            и в идеале приносил доход своему создателю
                        </li>
                    </ul>
                    <div><b>В итоге</b> начинающий разработчик приобретет: </div>
                    <ul>
                        <li>
                            <i class="ion-android-add"></i>
                            Подтверждаемый опыт разработки реального проекта (до свидания, вакансии "без опыта")
                        </li>
                        <li>
                            <i class="ion-android-add"></i>
                            Проект, демонстрируемый в качестве своего портфолио
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</section><!-- #about -->



<!--==========================
    Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Стек технологий</h2>
                <p>Инструменты, с которыми участникам команды приходилось сталкиваться и с помощью них решать кейсы и задачи</p>
            </div>

            <div class="owl-carousel clients-carousel">
                <img src="~/Content/img/utils/net.svg" data-toggle="tooltip" data-placement="bottom" title="Microsoft .NET">
                <img src="~/Content/img/utils/aspnet.svg" data-toggle="tooltip" data-placement="bottom" title="Microsoft ASP.NET">
                <img src="~/Content/img/utils/java.svg" alt="Java" data-toggle="tooltip" data-placement="bottom" title="Java">
                <img src="~/Content/img/utils/android.svg" alt="Android" data-toggle="tooltip" data-placement="bottom" title="Android">
                <img src="~/Content/img/utils/php.svg" alt="Php" data-toggle="tooltip" data-placement="bottom" title="Php">
                <img src="~/Content/img/utils/yii.svg" alt="Yii2" data-toggle="tooltip" data-placement="bottom" title="Yii2">
                <img src="~/Content/img/utils/react.svg" alt="ReactJS" data-toggle="tooltip" data-placement="bottom" title="ReactJS">
                <img src="~/Content/img/utils/vue.svg" alt="Vue" data-toggle="tooltip" data-placement="bottom" title="Vue">
                <img src="~/Content/img/utils/angular.svg" alt="Angular" data-toggle="tooltip" data-placement="bottom" title="Angular">
                <img src="~/Content/img/utils/python.svg" alt="Python" data-toggle="tooltip" data-placement="bottom" title="Python">
                <img src="~/Content/img/utils/Django.svg" alt="Django" data-toggle="tooltip" data-placement="bottom" title="Django">
                <img src="~/Content/img/utils/ruby.svg" alt="Ruby" data-toggle="tooltip" data-placement="bottom" title="Ruby">
                <img src="~/Content/img/utils/ruby-on-rails.svg" alt="Ruby on Rails" data-toggle="tooltip" data-placement="bottom" title="Ruby on Rails">
                <img src="~/Content/img/utils/git.svg" alt="Git" data-toggle="tooltip" data-placement="bottom" title="Git">
                <img src="~/Content/img/utils/github.svg" alt="GitHub" data-toggle="tooltip" data-placement="bottom" title="GitHub">
            </div>

        </div>
    </section><!-- #clients -->
    <!--==========================
    Services Section
    ============================-->
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Проекты</h2>
                <p>Не всем проектам было суждено дойти до релиза в силу различных обстоятельств. 
                    Но все интересные идеи, даже не дошедшие до полноценного релиза, остаются ждать своего героя.</p>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="fas fa-hamburger"></i>
                        </div>
                        <h4 class="title"><a href="https://github.com/StridingSoft/Nya-Cooking"><i class="fab fa-github"></i>  Nyaa Cooking</a></h4>
                        <div class="status">В разработке</div>
                        <div class="team">
                            <div class="team-prev">
                                <b>Покинувшие проект</b>: <a href="https://vk.com/omskyt">Мария Кицюк</a>,
                                <a href="https://vk.com/ladyravenfire">Александр Барышников</a>
                            </div>
                            <br />
                            <b>Разработчики</b>: <a href="https://vk.com/id167505300">Юлия Андреева</a>
                        </div>
                        <div class="description">
                            Кулинарная игра в жанре тайм-менеджемент<br />
                            <a href="https://github.com/StridingSoft/Nya-Cooking">Подробнее...</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="title"><a href="https://github.com/StridingSoft/GenTrees"><i class="fab fa-github"></i>  GenTrees</a></h4>
                        <div class="status">В разработке</div>
                        <div class="team">
                            <b>Разработчики</b>: проект ждет своих героев
                        </div>
                        <div class="description">
                            Конструктор генеалогический деревьев и диаграммы событий для вымышленных миров
                            <br />
                            <a href="https://github.com/StridingSoft/GenTrees">Подробнее...</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInRight">
                        <div class="icon">
                            <i class="fas fa-crosshairs"></i>
                        </div>
                        <h4 class="title"><a href="https://github.com/StridingSoft/Collector"><i class="fab fa-github"></i>  Коллекционер</a></h4>
                        <div class="status">Альфа версия</div>
                        <div class="team">
                            <b>Разработчики</b>: <a href="https://vk.com/lobotino">Олег Ксенофронтов</a>
                        </div>
                        <div class="description">
                            Android приложение для отслеживания прогресса по сбору коллекционого мерча от издательства
                            <a href="https://istaricomics.com/">Истари комикс</a>: открытки, магниты, плакаты и т.п. <br /><br />
                            Также приложение позволяет смотреть, кто хочет найти или отдать "дубликаты" мерча, таким образом
                            позволяя обмениваться или продавать предметы коллекции.<br />
                            <a href="https://github.com/StridingSoft/Collector">Подробнее...</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <h4 class="title"><a href="https://github.com/StridingSoft/IIT_Simulator"><i class="fab fa-github"></i>  Симулятор ИИТ</a></h4>
                        <div class="status">Готовится к релизу</div>
                        <div class="team">
                            <b>Разработчики</b>: <a href="https://vk.com/akane_izanami">Антонина Бахарева</a>
                        </div>
                        <div class="description">
                            Симулятор учебы в Челябинском государственном университетев Институте информационных технологий
                            на специальности Программная инженерия. Автор проекта постарался как можно точнее передать всю
                            боль обучающегося там студента. Удачи пережить сессию, студент!<br />
                            <a href="https://github.com/StridingSoft/IIT_Simulator">Подробнее...</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInLeft">
                        <div class="icon">
                            <i class="fas fa-language"></i>
                        </div>
                        <h4 class="title"><a href="https://github.com/StriderAJR/Bearlog"><i class="fab fa-github"></i>  Bearlog</a></h4>

                        <div class="status">Заморожен</div>
                        <div class="team">
                            <div class="team-prev">
                                <b>Покинувшие проект</b>: <a href="https://vk.com/omskyt">Мария Кицюк</a>
                            </div>
                            <br />
                            <b>Разработчики</b>: проект ждет своих героев
                        </div>
                        <div class="description">
                            Проект по предоставлению единой плафтормы для совместной работы команды переводчиков над комиксами.
                            Инструментарий должен облегчить совместную работу переводчика, клинера и тайпера. Демонстрационная версия выполнена
                            <a href="https://vk.com/omskyt">@@Марией Кицюк</a> и защищена как дипломный проект.
                            <br />
                            В данный момент проект ожидает нового разработчика и полного перезапуска.
                            <br />
                            <a href="https://github.com/StriderAJR/Bearlog">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 float-left">
                    <div class="box wow fadeInLeft">
                        <div class="icon">
                            <i class="fas fa-fist-raised"></i>
                        </div>
                        <h4 class="title"><a href="http://allcamo.ru/"><i class="fas fa-globe"></i>  allcamo.ru</a></h4>

                        <div class="status">В разработке</div>
                        <div class="team">
                            <b>Разработчики</b>: <a href="https://vk.com/omskyt">Мария Кицюк</a>
                        </div>
                        <div class="description">
                            Сайт-энциклопедия всех видов камуфляжа, как используемых в данный момент, так и использовавшихся в прошлом.
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section><!-- #services -->

<!--==========================
    Testimonials Section
    ============================-->
    @*<section id="testimonials" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Истории</h2>
                <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
            </div>
            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/Content/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/Content/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/Content/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/Content/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>

                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <img src="~/Content/img/testimonial-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div>

            </div>

        </div>
    </section><!-- #testimonials -->*@
    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Присоединяйся</h3>
                    
                    <ul id="my-ul" class="cta-text">
                        <li>
                            <i class="ion-android-arrow-forward"></i>
                            У тебя есть идея для реализации, но ты боишься, что не хватит навыков?
                        </li>
                        <li>
                            <i class="ion-android-arrow-forward"></i>
                            Ищешь единомышленников, с которыми хочется обсудить свои идеи?
                        </li>
                        <li>
                            <i class="ion-android-arrow-forward"></i>
                            Хочешь испытать себя в реализации одного из наших проектов?</li>
                    </ul>

                    <p class="cta-text">
                        Тогда ты по адресу.
                    </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle scrollto" href="#contact">Связаться с нами</a>
                </div>
            </div>
        </div>
    </section><!-- #call-to-action -->
    <!--==========================
    Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Участники</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/StriderAJR.png" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Alex<br />Kirsanov</h4>
                            <h5>aka StriderAJR</h5>
                            <span>Наставник,<br />full-stack разработчик</span>
                            <div class="social">
                                <a href="https://vk.com/striderajr">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/striderajr/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/StriderAJR">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/Lobotino.png" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Олег<br />Ксенофронтов</h4>
                            <h5>aka Lobotino</h5>
                            <span>Android разработчик</span>
                            <div class="social">
                                <a href="https://vk.com/lobotino">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://github.com/Lobotino">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/stasenash.png" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Антонина<br />Бахарева</h4>
                            <h5>aka Stasenash</h5>
                            <span>Начинающий разработчик</span>
                            <div class="social">
                                <a href="https://vk.com/akane_izanami">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://github.com/Stasenash">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/DarenOwl.png" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Юлия<br />Андреева</h4>
                            <h5>aka DarenOwl</h5>
                            <span>Начинающий разработчик</span>
                            <div class="social">
                                <a href="https://vk.com/id167505300">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://github.com/DarenOwl">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h6>Выпускники</h6>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/LadyRavenFire.jpg" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Александр<br />Барышников</h4>
                            <h5>aka LadyRavenFire</h5>
                            <span>Game разработчик</span>
                            <div class="social">
                                <a href="https://vk.com/ladyravenfire">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/ladyravenfire/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/LadyRavenFire">
                                    <i class="fab fa-github"></i>
                                </a>
                                @* <a href=""> *@
                                @*     <img src="~/Content/img/ico/hh.svg" class="fa logo-hh"/> *@
                                @* </a> *@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            @* <img src="~/Content/img/team/JhonPsina.jpg" alt=""> *@
                        </div>
                        <div class="details">
                            <h4>Мария<br />Кицюк</h4>
                            <h5>aka JhonPsina</h5>
                            <span>Front-end разработчик<br/><a style="color: white;" href="https://www.unit6.dev/">Unit6</a></span>
                            <div class="social">
                                <a href="https://vk.com/omskyt">
                                    <i class="fab fa-vk"></i>
                                </a>
                                <a href="https://github.com/JhonPsina">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->


<!--==========================
    Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Контакты</h2>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Адрес</h3>
                        <address>Кафедра ЭВМ<br />8 этаж, пр. Ленина 87<br />г. Челябинск </address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>ВКонтакте</h3>
                        <p>
                            <a href="https://vk.com/StriderAJR">Alexander Kirsanov</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p>
                            <a href="mailto:stridingsoft@gmail.com">stridingsoft@gmail.com</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1139.6992024302897!2d61.36382365832884!3d55.15880552745646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592c0826c2f77%3A0x9792865a6ee3f11!2z0JrQsNGE0LXQtNGA0LAg0K3QktCc!5e0!3m2!1sru!2sru!4v1559413397019!5m2!1sru!2sru" width="100%" height="380" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>

    </section><!-- #contact -->

</main>

<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="~/Content/lib/jquery/jquery.min.js"></script>
<script src="~/Content/lib/jquery/jquery-migrate.min.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/lib/easing/easing.min.js"></script>
<script src="~/Content/lib/superfish/hoverIntent.js"></script>
<script src="~/Content/lib/superfish/superfish.min.js"></script>
<script src="~/Content/lib/wow/wow.min.js"></script>
<script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/lib/magnific-popup/magnific-popup.min.js"></script>
<script src="~/Content/lib/sticky/sticky.js"></script>

<!-- Template Main Javascript File -->
<script src="~/Content/js/main.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>